[Unit]
Description=hello_env.js - making your environment variables rad
Documentation=https://example.com
After=network.target

[Service]
Environment=PORT=65000
Environment=NODE_ENV=pro
Environment=DB_PORT=5432
Environment=CORS_ORIGIN=http://localhost:3000
Type=simple
User=vagrant
ExecStart=/usr/bin/node /vagrant/OpenBlog/packages/api/build/app
Restart=on-failure

[Install]
WantedBy=multi-user.target